name: ADES111

on:
  workflow_dispatch:
    inputs:
      query:
        description: "yq query to run against config.yaml"


jobs:
  example_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Debug input
        run: echo "Hello $INPUTS_QUERY"
        env:
          INPUTS_QUERY: ${{ inputs.query }}
      - name: Run yq query
        uses: mikefarah/yq@master
        with:
          cmd: echo | yq e '.app.name' config.yaml
        env:
          INPUTS_QUERY: ${{ inputs.query }}
