name: ADES111

on:
  workflow_dispatch:
    inputs:
      query:
        description: "yq query to run against config.yaml"
        required: false
        default: "app.name"

jobs:
  example_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Debug input
        run: echo "QUERY=$INPUTS_QUERY"
      - name: Run yq query
        uses: mikefarah/yq@master
        with:
          cmd: yq "$INPUTS_QUERY" config.yaml
        env:
          INPUTS_QUERY: ${{ inputs.query }}
